

/* 
  flexbox utility class used globally
*/
.flexbox {
  display: flex;
}
.flexdir-row {
  flex-direction: row;
}
.flexdir-rowrev {
  flex-direction: row-reverse;
}
.flexdir-col {
  flex-direction: column;
}
.flexdir-colrev {
  flex-direction: column-reverse;
}

/* flex amount classes for children */
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.flex-10 {
  flex: 10;
}
.flex-11 {
  flex: 11;
}
.flex-12 {
  flex: 12;
}
.flex-13 {
  flex: 13;
}
.flex-14 {
  flex: 14;
}
.flex-15 {
  flex: 15;
}
/* classes for wrapper element to align children */
.flex-center {
  justify-content: center;
  align-items: center;
}
.flexbox-space-between {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.flexbox-space-evenly {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.flexbox-space-around {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

/* align classes */
.flex-align-baseline {
  align-items: baseline;
}
.flex-align-center {
  align-items: center;
}
.flex-align-flexend {
  align-items: flex-end;
}
.flex-align-flexstart {
  align-items: flex-start;
}

.flex-align-baseline.align-self {
  align-self: baseline;
}
.flex-align-center .align-self {
  align-self: center;
}
.flex-align-flexend.align-self {
  align-self: flex-end;
}
.flex-align-flexstart.align-self {
  align-self: flex-start;
}

.flex-justify-start {
  justify-content: flex-start;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-end {
  justify-content: flex-end
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-wraprev {
  flex-wrap: wrap-reverse;
}


/* FLEXGAP CLASSES */
.flexgap-1 *{
 margin: 0 .25rem;
}
.flexgap-1 *:first-child {
  margin: 0 .25rem 0 0;
}
.flexgap-1 *:last-child{
 margin: 0 0 0 .25rem;
}
.flexgap-2 *{
 margin: 0 .5rem;
}
.flexgap-2 *:first-child {
  margin: 0 .5rem 0 0;
}
.flexgap-2 *:last-child{
 margin: 0 0 0 .5rem;
}
.flexgap-3 *{
 margin: 0 .75rem;
}
.flexgap-3 *:first-child {
  margin: 0 .75rem 0 0;
}
.flexgap-3 *:last-child{
 margin: 0 0 0 .75rem;
}
.flexgap-4 *{
 margin: 0 1rem;
}
.flexgap-4 *:first-child {
  margin: 0 1rem 0 0;
}
.flexgap-4 *:last-child{
 margin: 0 0 0 1rem;
}
.flexgap-5 *{
 margin: 0 1.5rem;
}
.flexgap-5 *:first-child {
  margin: 0 1.5rem 0 0;
}
.flexgap-5 *:last-child{
 margin: 0 0 0 1.5rem;
}
